:root {
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #fcfc3c;
  font-weight: 400;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fcfc3c;
  color: #0f0f0f;
  padding: 0em 2em;
  z-index: 1;
}

main {
  color: #525252;
  padding: 0em 2em 8em 2em;
  position: relative;
  top: 100px;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  font-weight: 500;
}

.section__title {
  padding: 2em 0 1.5em 0;
  /* padding-bottom: 2em; */
}

.github-icon {
  padding-top: 0.5em;
}

p {
  text-align: left;
}

ul {
  padding: 1em 0 0 0;
}

li {
  list-style: none;
}

h3,
h4 {
  text-align: center;
  padding-top: 1.5em;
}
.project__title-1 {
  padding-top: 0;
}
.tech__grid,
.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.tech__grid {
  gap: 0.3em;
}
footer {
  width: 100%;
  color: #525252;
  position: fixed;
  bottom: 0;
  background: #fcfc3c;
  border-top: solid 1px rgba(82, 82, 82, 0.5);
  padding: 1em 0.5em;
}

.footer__grid {
  gap: 0.5em;
  justify-items: right;
}

footer p {
  font-size: 0.8em;
}
